<!DOCTYPE html>
<html>
<head>
  <title>Layout Master</title>
  <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
  <nav class="zone green">
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  <div class="container" id="home">
    <section class="zone red cover centered"><div>Cover</div></section>
    <section class="zone yellow centered" id="about">About</section>
    <section class="projects zone blue" id="projects">
        <div class="zone gray project-entry">
            <div class="centered project-image">
              <img src="img/data_storage_2_2.png">
            </div>
          <div class="overlay centered overlay-top">Information</div>
          <div class="overlay centered overlay-bottom">Tech Icons</div>
        </div>
        <div class="zone gray project-entry">
          <div class="centered project-image">
            <img src="img/desktop_analytics_2.png" alt="">
          </div>
          <div class="overlay centered overlay-top">Information</div>
          <div class="overlay centered overlay-bottom">Tech Icons</div>
        </div>
        <div class="zone gray project-entry">
          <div class="centered project-image">
            <img src="img/files_2.png" alt="">
          </div>
          <div class="overlay centered overlay-top">Information</div>
          <div class="overlay centered overlay-bottom">Tech Icons</div>
        </div>
        <div class="zone gray project-entry">
          <div class="centered project-image">
            <img src="img/monitor_coding_2.png" alt="">
          </div>
          <div class="overlay centered overlay-top">Information</div>
          <div class="overlay centered overlay-bottom">Tech Icons</div>
        </div>
        <div class="zone gray project-entry">
          <div class="centered project-image">
            <img src="img/monitor_settings_2.png" alt="">
          </div>  
          <div class="overlay centered overlay-top">Information</div>
          <div class="overlay centered overlay-bottom">Tech Icons</div>
        </div>
        <div class="zone gray project-entry">
          <div class="centered project-image">
            <img src="img/server_2_2.png" alt="">
          </div>
          <div class="overlay centered overlay-top">Information</div>
          <div class="overlay centered overlay-bottom">Tech Icons</div>
        </div>
        <div class="zone gray project-entry">
          <div class="centered project-image">
            <img src="img/server_3.png" alt="">
          </div>
          <div class="overlay centered overlay-top">Information</div>
          <div class="overlay centered overlay-bottom">Tech Icons</div>
        </div>
        <div class="zone gray project-entry">
          <div class="centered project-image">
            <img src="img/server_safe_2.png" alt="">
          </div>
          <div class="overlay centered overlay-top">Information</div>
          <div class="overlay centered overlay-bottom">Tech Icons</div>
        </div>
        <div class="zone gray project-entry">
          <div class="centered project-image">
            <img src="img/undraw.png" alt="">
          </div>
          <div class="overlay centered overlay-top">Information</div>
          <div class="overlay centered overlay-bottom">Tech Icons</div>
        </div>
    
    </section>
    <section class="zone red centered" id="contact">Contact</section>
    <footer class="zone yellow centered">Footer</footer>
  </div>
</body>
</html>